<html>

<link rel="stylesheet" type="text/css" href="/css/main.css" />

	<form class="login os-font-regular">
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username"></input>
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="password" id="password"></input>
		</div>
		<div class="footer-buttons">
			<button type="submit" id="submit" class="border-down">Submit</button>
		</div>
	</form>

<html>